<section id="newCountry">
  <div class="form-group">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Country</h1>
        <form #newCountryForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   [(ngModel)]="newCountry.name"
                   >
          </div>

          <div class="form-group">
            <label for="shortname">Short Name</label>
            <input type="text"
                   class="form-control"
                   id="shortname"
                   name="shortname"
                   [(ngModel)]="newCountry.shortname">
          </div>          
          
          <button type="button" class="btn btn-primary" (click)="createNewCountry()" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
