<section id="newCountry">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Country</h1>
        <form>
          <div class="form-group">
            <label for="title">Name</label>
            <input type="text"
                   class="form-control"
                   id="title">
          </div>

          <div class="form-group">
            <label for="city">Short Name</label>
            <input type="text"
                   class="form-control"
                   id="city">
          </div>          
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
