{
 :database-driver "org.postgresql.Driver"
 :database-url "jdbc:postgresql://localhost:5432/druto-chithhi-address-store"
 :database-user "postgres"
 :database-password "postgres"
 :flyway-sql-directory "sql"
 }
