{
 :database-driver "org.h2.Driver"
 :database-url "jdbc:h2:mem:druto-chithhi-address-store"
 :database-user "sa"
 :database-password "sa"
 :flyway-sql-directory "test/sql"
 :http-allowed-origins ["http://localhost:4200"]
 }
